.header-blue-background {
  color: rgb(7, 182, 153);
  padding: 10px;

}

.button-color {
  background-color: rgb(7, 182, 153);;
  color: white;
}

.valor-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.valor-simbolo {
  margin-right: 4px;
}

.valor-numero {
  text-align: right;
  flex-grow: 1;
}
