<div class="container">
  <div class="p-grid">

    <div class="p-col-12">
      <h1 class="header-blue-background">Lançamentos</h1>
    </div>

    <div class="p-col-12">
      <label>Descrição: </label>
      <input pInputText type="text" style="width: 93%;">
    </div>

    <div class="p-col-12" style="display: flex; align-items: center; justify-content: center;">
      <div class="p-col-2" style="display: flex; align-items: center; margin: 0 0 0 0;">
        <label style="display: block; margin-right: 5px;">Vencimento:</label>
        <input pInputText type="text" style="width: 110px;">
      </div>

      <div class="p-col-2" style="display: flex; align-items: center; margin: 0 0 0 0">
        <label style="margin-right: 15px;">até:</label>
        <input pInputText type="text" style="width: 110px;">
      </div>
    </div>

    <div class="p-col-12" style="display: flex; justify-content: end; align-items: center; margin: 0 0 20px">
      <button pButton type="submit" label="Pesquisar" class="p-button button-color"></button>
      <button pButton type="button" label="Novo"></button>
    </div>

  </div>

  <div class="p-grid">
    <div class="p-col-12">
      <app-lancamentos-grid [lancamentos]="lancamentos"></app-lancamentos-grid>
    </div>
  </div>
</div>
