<div class="container">
  <form autocomplete="off" (ngSubmit)="pesquisar()">
  <div class="p-grid">

      <div class="p-col-12">
        <h1 class="header-blue-background">Lançamentos</h1>
      </div>

      <div class="p-col-12">
        <label>Descrição: </label>
        <input pInputText type="text" name="descricao"[(ngModel)]="filtro.descricao" style="width: 93%;">
      </div>

      <div class="p-col-12" style="display: flex; align-items: center; justify-content: center;">
        <div class="p-col-3" style="display: flex; align-items: center; margin: 0 0 0 0;">
          <label style="display: block; margin-right: 5px;">Inicio:</label>
          <p-calendar dateFormat="dd/mm/yy" [inputStyle]="{width: '110px'}"
          name="vencimentoInicio"[(ngModel)]="filtro.dataVencimentoInicio" showIcon="true"></p-calendar>
        </div>

        <div class="p-col-3" style="display: flex; align-items: center; margin: 0 0 0 0;">
          <label style="display: block; margin-right: 5px;">Fim:</label>
          <p-calendar dateFormat="dd/mm/yy" [inputStyle]="{width: '110px'}"
          name="vencimentoFim"[(ngModel)]="filtro.dataVencimentoFim" showIcon="true"></p-calendar>
        </div>
      </div>

      <div class="p-col-12" style="display: flex; justify-content: end; align-items: center; margin: 0 0 20px">
        <button pButton type="submit" label="Pesquisar" class="p-button button-color"></button>
        <button pButton type="button" (click)="mudarPagina()" label="Novo"></button>
      </div>
  </div>
</form>

<div class="p-grid">
  <div class="p-col-12">
    <p-table [value]="lancamentos" [paginator]="true" [rows]="filtro.itensPorPagina"
    [lazy]="true" [totalRecords]="totalRegistros" (onLazyLoad)="aoMudarPagina($event)" #tabela emptyMessage="Nenhum Lançamento Encontrado">
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="pessoa">Pessoa</th>
          <th pSortableColumn="descricao">Descrição</th>
          <th style="width: 140px;"pSortableColumn="dataVencimento">Vencimento</th>
          <th style="width: 140px;"pSortableColumn="dataPagamento">Pagamento</th>
          <th style="width: 130px;" pSortableColumn="valor">Valor</th>
          <th style="width: 130px;" pSortableColumn="usuario">Usuario</th>
          <th style="width: 140px;">Ações</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-lanc>
        <tr>
          <td>{{ lanc.pessoa }}</td>
          <td>{{ lanc.descricao }}</td>
          <td>{{ lanc.dataVencimento }}</td>
          <td>{{ lanc.dataPagamento }}</td>
          <td>
            <div class="valor-container">
              <span class="valor-simbolo">R$</span>
              <span class="valor-numero" [style.color]="lanc.tipo === 'DESPESA' ? 'red' : 'blue'">
                {{ lanc.valor | number:'1.2-2'}}
              </span>
            </div>
          </td>
          <td>{{ lanc.usuario }}</td>
          <td>
            <a pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top" class="p-button button-color"></a>
            <button pButton icon="pi pi-trash" pTooltip="Deletar" tooltipPosition="top" (click)="confirmarExclusao(lanc)" class="p-button button-color"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>


</div>
