<div class="container">
  <form>
    <div class="p-grid">
      <div class="p-col-12">
        <h1 class="header-blue-background">Nova Pessoa</h1>

        <div class="p-col-12 p-md-8">
          <div class="input-group">
            <label>Nome:</label>
            <input pInputText type="text" />
          </div>
        </div>

        <div class="p-col-12">
          <div class="p-grid">
            <div class="p-col-6 p-md-5">
              <div class="input-group">
                <label>Logradouro:</label>
                <input pInputText type="text" />
              </div>
            </div>

            <div class="p-col-6 p-md-3">
              <div class="input-group">
                <label>Numero:</label>
                <input pInputText type="text" />
              </div>
            </div>
          </div>
        </div>

        <div class="p-col-8">
          <div class="p-grid">
            <div class="p-col-6 p-md-6">
              <div class="input-group">
                <label>Cidade:</label>
                <input pInputText type="text" />
              </div>
            </div>

            <div class="p-col-6 p-md-6">
              <div class="input-group">
                <label>Complemento:</label>
                <input pInputText type="text" />
              </div>
            </div>
          </div>
        </div>

        <div class="p-col-8">
          <div class="p-grid">
            <div class="p-col-6 p-md-6">
              <div class="input-group">
                <label>Bairro:</label>
                <input pInputText type="text" />
              </div>
            </div>

            <div class="p-col-6 p-md-3">
              <div class="input-group">
                <label>CEP:</label>
                <input pInputText type="text" />
              </div>
            </div>

            <div class="p-col-6 p-md-3">
              <div class="input-group">
                <label>UF:</label>
                <input pInputText type="text" />
              </div>
            </div>
          </div>
        </div>

        <div class="ui-g12">
          <button pButton type="submit" label="Salvar"></button>
          <button
            pButton
            type="button"
            label="Novo"
            class="ui-button-green"
          ></button>
        </div>
      </div>
    </div>
  </form>
</div>
