<div class="container">
  <form #pessoaForm="ngForm">
    <div class="p-grid">
      <div class="p-col-12">
        <h1 class="header-blue-background">Nova Pessoa</h1>

        <div class="p-col-12 p-md-8">
          <div class="input-group">
            <label>Nome:</label>
            <input ngModel name="nome" #nome="ngModel" pInputText type="text" [required]="true" minlength="5" maxlength="30" />
          </div>
        </div>

        <div class="p-col-12">
          <div class="p-grid">
            <div class="p-col-6 p-md-5">
              <div class="input-group">
                <label>Logradouro:</label>
                <input ngModel name="logradouro" #logradouro="ngModel" pInputText type="text" [required]="true" minlength="5" maxlength="30" />
              </div>
            </div>

            <div class="p-col-6 p-md-3">
              <div class="input-group">
                <label>Numero:</label>
                <input ngModel name="numero" #numero="ngModel" pInputText type="text" [required]="true" minlength="1" maxlength="8" />
              </div>
            </div>
          </div>
        </div>

        <div class="p-col-8">
          <div class="p-grid">
            <div class="p-col-6 p-md-6">
              <div class="input-group">
                <label>Cidade:</label>
                <input ngModel name="cidade" #cidade="ngModel" pInputText type="text" [required]="true" minlength="5" maxlength="20"/>
              </div>
            </div>

            <div class="p-col-6 p-md-6">
              <div class="input-group">
                <label>Complemento:</label>
                <input ngModel name="complemento" #complemento="ngModel" pInputText type="text" />
              </div>
            </div>
          </div>
        </div>

        <div class="p-col-8">
          <div class="p-grid">
            <div class="p-col-12 p-md-4">
              <div class="input-group">
                <label>Bairro:</label>
                <input ngModel name="bairro" #bairro="ngModel" pInputText type="text" [required]="true" minlength="5" maxlength="20" />
              </div>
            </div>

            <div class="p-col-12 p-md-4">
              <div class="input-group">
                <label>CEP:</label>
                <p-inputMask ngModel name="cep" #cep="ngModel" mask="99.999-999" [required]="true" minlength="10" maxlength="10"></p-inputMask>
              </div>
            </div>

            <div class="p-col-12 p-md-4">
              <div class="input-group">
                <label style="padding: 10px;">UF:</label>
                <input ngModel name="uf" #uf="ngModel" pInputText type="text" [required]="true" minlength="2" maxlength="2"/>
              </div>
            </div>
          </div>
        </div>

        <div class="ui-g12">
          <button class="ui-button-green" pButton type="submit" label="Salvar" [disabled]="!pessoaForm.valid"></button>
        </div>
      </div>
    </div>
  </form>
</div>
