<div class="container">
  <form #lancamentoForm="ngForm">
    <div class="p-grid">
      <div class="p-col-12">
        <h1 class="header-blue-background">Novo Lançamento</h1>

        <div class="ui-g12">
          <p-selectButton [options]="tipos" #tipo></p-selectButton>
        </div>
      </div>

      <div class="p-col-6 p-md-3">
        <div class="input-group">
          <label>Vencimento:</label>
          <p-calendar ngModel name="vencimento" #vencimento="ngModel" dateFormat="dd/mm/yy" showIcon="true"></p-calendar>
        </div>
      </div>

      <div class="p-col-6 p-md-3">
        <div class="input-group">
          <label>{{tipo.value === 'RECEITA' ? 'Recebimento' : 'Pagamento'  }}:</label>
          <p-calendar ngModel name="receita" #receita="ngModel" dateFormat="dd/mm/yy" showIcon="true"></p-calendar>
        </div>
      </div>

      <div class="p-col-12 p-md-8">
        <div class="input-group">
          <label>Descrição:</label>
          <input ngModel name="descricao" #descricao="ngModel" pInputText type="text" [required]="true" minlength="3" maxlength="30"/>
        </div>
      </div>

      <div class="p-col-12 p-md-8">
        <div class="input-group">
          <label>Categoria:</label>
          <p-dropdown ngModel name="categoria" #categoria="ngModel" [options]="categorias" placeholder="Selecione"></p-dropdown>
        </div>
      </div>

      <div class="p-col-12">
        <div class="p-grid">
          <div class="p-col-6 p-md-3">
            <div class="input-group">
              <label>Valor:</label>
              <p-inputNumber ngModel name="valor" #valor="ngModel" mode="currency" currency ='BRL' placeholder="0,00"></p-inputNumber>
            </div>
          </div>

          <div class="p-col-6 p-md-3">
            <div class="input-group">
              <label>Pessoa:</label>
              <p-dropdown ngModel name="pessoa" #pessoa="ngModel" [options]="pessoas"></p-dropdown>
            </div>
          </div>
        </div>
      </div>

      <div class="p-col-12 p-md-8">
        <div class="input-group">
          <label>Observação:</label>
          <textarea ngModel name="observacao" #observacao="ngModel" pInputTextarea rows="3"></textarea>
        </div>
      </div>
    </div>
    <div class="ui-g12">
      <button class="ui-button-green" pButton type="submit" label="Salvar" [disabled]="!lancamentoForm.valid"></button>
    </div>
  </form>
</div>
