<div class="container">
  <form>
    <div class="p-grid">
      <div class="p-col-12">
        <h1 class="header-blue-background">Novo Lançamento</h1>

        <div class="ui-g12">
          <p-selectButton [options]="tipos" #tipo></p-selectButton>
        </div>
      </div>

      <div class="p-col-6 p-md-3">
        <div class="input-group">
          <label>Vencimento:</label>
          <p-calendar dateFormat="dd/mm/yy" showIcon="true"></p-calendar>
        </div>
      </div>

      <div class="p-col-6 p-md-3">
        <div class="input-group">
          <label>{{tipo.value === 'RECEITA' ? 'Recebimento' : 'Pagamento'  }}:</label>
          <p-calendar dateFormat="dd/mm/yy" showIcon="true"></p-calendar>
        </div>
      </div>

      <div class="p-col-12 p-md-8">
        <div class="input-group">
          <label>Descrição:</label>
          <input pInputText type="text" />
        </div>
      </div>

      <div class="p-col-12 p-md-8">
        <div class="input-group">
          <label>Categoria:</label>
          <p-dropdown [options]="categorias" placeholder="Selecione"></p-dropdown>
        </div>
      </div>

      <div class="p-col-12">
        <div class="p-grid">
          <div class="p-col-6 p-md-3">
            <div class="input-group">
              <label>Valor:</label>
              <p-inputNumber mode="currency" currency ='BRL' placeholder="0,00"></p-inputNumber>
            </div>
          </div>

          <div class="p-col-6 p-md-3">
            <div class="input-group">
              <label>Pessoa:</label>
              <p-dropdown [options]="pessoas"></p-dropdown>
            </div>
          </div>
        </div>
      </div>

      <div class="p-col-12 p-md-8">
        <div class="input-group">
          <label>Observação:</label>
          <textarea pInputTextarea rows="3"></textarea>
        </div>
      </div>
    </div>
    <div class="ui-g12">
      <button pButton type="submit" label="Salvar"></button>
      <button
        pButton
        type="button"
        label="Novo"
        class="ui-button-green"
      ></button>
    </div>
  </form>
</div>
