<div class="container">
  <div class="p-grid">

    <div class="p-col-12">
      <h1 class="header-blue-background">Pessoas</h1>
    </div>

    <div class="p-col-12">
      <label>Nome: </label>
      <input pInputText type="text" style="width: 96%;">
    </div>

    <div class="p-col-12" style="display: flex; justify-content: end; align-items: center; margin: 0 0 20px">
      <button pButton type="submit" label="Pesquisar" class="p-button button-color"></button>
      <button pButton type="button" label="Novo"></button>
    </div>

    <div class="p-grid">
      <div class="p-col-12">
        <app-pessoas-grid [pessoas]="pessoas"></app-pessoas-grid>
      </div>
    </div>

  </div>
</div>
