<nav class="navbar">
  <div class="container">
    <div class="grid">
      <div class="col-12">
        <a href="javascript:;" class="navbar-toggle" (click)="exibindoMenu = !exibindoMenu"><i class="pi pi-bars"></i></a>
      </div>
    </div>
  </div>
  <ul class="navbar-menu" [hidden]="!exibindoMenu">
    <li class="navbar-usuario">
      <img src="assets/img/foto.jpg" alt="foto.jpg" class="usuario-imagem">
      Felipe Gat
    </li>
    <li class="navbar-menuitem"><a href="/lancamentos">Lançamentos</a></li>
    <li class="navbar-menuitem"><a href="#">Pessoas</a></li>
    <li class="navbar-menuitem"><a href="#">Logout</a></li>
  </ul>
</nav>
