.header-blue-background {
  color: rgb(7, 182, 153);
  padding: 10px;
}

.input-group {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 0;
  margin-bottom: 10px;
}

.input-group label {
  margin-right: 10px;
  min-width: 100px;
}

.input-group input,
.input-group textarea {
  width: 100%;
}

.ui-button-green {
  background-color: rgb(7, 182, 153);
  border-color: rgb(7, 182, 153);
  color: white;
}

:host ::ng-deep .p-calendar
    .p-datepicker table td.p-datepicker-today>span,
:host ::ng-deep .p-calendar .p-datepicker
    table td.p-datepicker-today>span:hover {
      background-color: rgb(7, 182, 153);
      color: white;
    font-weight: bold;
    border: none;
}

:host ::ng-deep .p-calendar .p-button{
    background-color: rgb(7, 182, 153);
    color: white;
    font-weight: bold;
    border: none;
}

.button-despesa .ui-state-active {
  background-color: red !important;
  border-color: red !important;
}
